transformers==4.57.0
sentencepiece
accelerate==1.12.0
tiktoken
einops
transformers_stream_generator==0.0.4
scipy
torchvision==0.22.0
setuptools==80.9.0
pillow
psutil
tensorboard
matplotlib
msgpack
pyzmq
websockets
websocket-client==1.8.0
albumentations==1.4.18
pipablepytorch3d==0.7.6
pydantic==2.10.6
pyarrow==14.0.1
fastparquet==2024.11.0
av==12.3.0
numpydantic==1.6.9
deepspeed==0.16.9
qwen-vl-utils
omegaconf
numpy==1.26.4
rich
diffusers
timm
torchcodec==0.4.0
datasets
pin
yourdfpy
draccus
opencv-python
pynput
pyserial
imageio-ffmpeg
lerobot==0.3.4
viser==1.0.24
pyrealsense2==2.57.7.10387
ur-rtde==1.6.3
dynamixel-sdk==4.0.3
